/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color: #fac8e4;
  border-radius: 30px;
  cursor: url('img/cursor.gif'), auto;
}
section {
  background-image: url('/Users/daniellung/Desktop/art101a/art101/img/quilt.png');
  background-repeat: repeat;
  background-size: 18%;
}
h1 { 
  font-family: monospace;
  text-align: center;
  color: #c92a5a;
}
.minor-section {
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 30px;
  width: 80%;
  margin: auto;
  border: 5px dashed #ff9ec8;
  background: linear-gradient(to bottom, #fefff8, #ffebf6);
  }